/** PikaDude's Fade Animations **/
@import "https://cdn.rawgit.com/PikaDude/Discord-Fade-Anims/master/Discord-Fade-Anims.css";
/** TriggerRimfire's Avatar Shadow **/
@import "https://cdn.rawgit.com/TriggerRimfire/48b3303f4032fffd952c108260a059a4/raw/302f0672b2b7246a26dc2af0fa43bce90955e68b/discord-avatar-shadow.css";
/** jakeoid's Emoji Animations **/
@import "https://cdn.rawgit.com/jakeoid/discord-emoji-anim/master/stylesheet.css";
/** Vap0r1ze's Nitro Badges **/
@import "https://rawgit.com/Vap0r1ze/Discord-Nitro-Badges/master/nitro.css";

/** AlexFlipnote's Theme **/
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/highlightJS.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/customDnD.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/hideSearch.css";
/**@import "https://rawgit.com/martmists/Discord_Theme/master/assets/statusPopout.css";**/ /* Disabled while waiting for a patch */

/** Martmist's Custom Fonts **/
@import "https://rawgit.com/martmists/DiscordFonts/master/DiscordFonts.css";
/** and a mod to make it look nicer **/
.timestamp, .tooltip {
    font-family: "Raleway"!important;
}

/** Ovyerus' Edited Pencil **/

.message-group .comment .edited {
    font-size: 0;
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    background-image: url(https://cdn.rawgit.com/twitter/twemoji/gh-pages/svg/270f.svg);
    background-size: 100%;
    opacity: 0.5;
    line-height: 23px;
    transition: opacity 0.2s;
}

.message-group .comment .edited:hover {
    opacity: 1;
}

/** Lewis' Mods **/

.app {
  background: rgba(0, 0, 0, 0.75) !important;
}

body {
  background: url("https://discord.is-pretty.sexy/d9ab88.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.friends-icon {
   background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_question_answer_white_24px.svg)!important;
   opacity: 0.8;
   margin-top: 4px;
   background-size: 50%!important
}

.user-popout .body {
   background: #332e2e;
}

.user-popout .footer {
   background: #2b2727;
   border-top: 0px;
}

.user-popout .quick-message {
   background: #2b2727;
   color: white;
}

.note textarea:focus {
   background: #332e2e;
}

.theme-dark .user-settings-account:after,
.theme-light .user-settings-account:after {
  color: var(--accent); font-weight: bold;
  content: "test";
}
