/** PikaDude's Fade Animations **/
@import "https://rawgit.com/PikaDude/Discord-Fade-Anims/master/Discord-Fade-Anims.css";
/** TriggerRimfire's Avatar Shadow **/
@import "https://rawgit.com/TriggerRimfire/48b3303f4032fffd952c108260a059a4/raw/302f0672b2b7246a26dc2af0fa43bce90955e68b/discord-avatar-shadow.css";
/** jakeoid's Emoji Animations **/
@import "https://rawgit.com/jakeoid/discord-emoji-anim/master/stylesheet.css";
/** Vap0r1ze's Nitro Badges **/
@import "https://rawgit.com/Vap0r1ze/Discord-Nitro-Badges/master/nitro.css";

/** AlexFlipnote's Theme **/
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/highlightJS.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/customDnD.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/hideSearch.css";
/**@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/statusPopout.css";**/ /* Disabled while waiting for a patch */

/** transparent settings **/

.channel-members  {
	background: rgba(0, 0, 0, 0) !important;
}

/** end **/

/** Ovyerus' Edited Pencil **/

.message-group .comment .edited {
    font-size: 0;
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    background-image: url(https://cdn.rawgit.com/twitter/twemoji/gh-pages/svg/270f.svg);
    background-size: 100%;
    opacity: 0.5;
    line-height: 23px;
    transition: opacity 0.2s;
}

.message-group .comment .edited:hover {
    opacity: 1;
}

/** Lewis' Mods (should get around to labelling these) **/

.app {
   background: rgba(0, 0, 0, 0.75);
}

body {
  background: url("https://discord.is-pretty.sexy/d9ab88.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
}

.friends-icon {
   background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_question_answer_white_24px.svg) !important;
   opacity: 0.8;
   margin-top: 4px;
   background-size: 50%!important;
}

.user-popout .body {
   background: rgb(0, 46, 46);
}

.user-popout .footer {
   background: rgb(0, 35, 35);
   border-top: 0px;
}

.note textarea:focus {
   background: #332e2e;
}

/** Backgrounds **/

div[class*="scrollerTrack-"] {
	background: rgb(0, 45, 45) !important;
}

.channel-notices .channel-notice.quickswitcher-notice {
	background: url(/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) no-repeat center 35px !important;
}

.channel-notices .channel-notice .message .btn {
	background-color: rgba(54, 57, 62, .5) !important;
}

.tooltip.tooltip-top.tooltip-normal, 
.tooltip.tooltip-left.tooltip-normal,
.tooltip.tooltip-right.tooltip-normal {
	background: var(--dark-highlight);
}

/** Theme Colors **/
:root {
	--dark-primary: rgba(0, 30, 33, .90);
	--dark-secondary: rgba(0, 0, 0, 0);
	--dark-highlight: rgb(10, 50, 55);
	--code-bg: rgba(0, 0, 0, 0);
}

/** Nice Code Blocks **/
@font-face {
    font-family: firacode;
	src: url("https://rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf");
}

code {
	font-family: firacode !important;
}

code.inline {
	background: rgba(0, 0, 0, .5) !important;
}

/** Version **/
.theme-dark .user-settings-account:after,
.theme-light .user-settings-account:after {
  color: var(--accent); font-weight: bold;
  content: "BootyfulDiscord 2.0.3 (based off AlexFlipnote's theme) | Check GitHub for changelog | https://github.com/LewisTehMinerz/BootyfulDiscord";
}
